.u-section-1 .u-sheet-1 {
  min-height: 479px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 718px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 20px 929px 0 0;
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: -34px auto 0 312px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 26px auto 0 312px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -29px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 1.25rem;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 213px auto 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 126px 1024px 60px 0;
}

.u-section-2 .u-icon-3 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
  height: 100%;
}

.u-section-2 .u-icon-5 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-top: -21px;
    margin-right: 729px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 509px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 239px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 239px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-btn-1 {
    margin-top: -24px;
    margin-right: 329px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -30px;
    margin-left: 179px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 179px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -26px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-right: 129px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 5px;
  }
}